input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty {
  background-color: #efcfcf;
}


.form-row {
  width: 300px;
  display: flex;
  align-content: center;
  justify-content: center;

  label {
    font-family: sans-serif;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    flex-basis: 30%;
  }

  input {
    flex-grow: 1;
    padding: 5px;
    margin: 5px;
  }

  button {
    padding: 5px;
    margin: 5px;
    width: 100px;
    height: 30px;
  }

}
